{% extends "base.html" %}
{% block content %}
<h2>회원가입</h2>
<form method="post" class="mt-3" style="max-width: 420px;">
  <!-- name 속성이 서버로 전달되는 key -->
  <div class="mb-3">
    <label class="form-label">아이디</label>
    <input name="uid" class="form-control" placeholder="아이디 입력">
  </div>
  <div class="mb-3">
    <label class="form-label">비밀번호</label>
    <input name="pw" type="password" class="form-control" placeholder="비밀번호 입력">
  </div>
  <button class="btn btn-success">가입하기</button>
</form>
{% endblock %}